<div ng-controller='associationsController'>
    <h1>Add A Player To A Team</h1>
    <form>
     Player Name: <select name="player" id="players" ng-model='newAssociation.player'>
        <option
          ng-repeat='player in players'
          value="{{player.name}}"
          >
          {{player.name}}
        </option>
      </select>

      Team Name: <select name="team" id="team" ng-model='newAssociation.team'>
        <option
          ng-repeat='team in teams'
          value="{{team.name}}"
          >
          {{team.name}}
        </option>
      </select>
      <input type="submit" value="Assign Player to Team" ng-click='addAssociation()'>

    </form>
    <div class="results">
      <table border="1" style="width:100%">
        <tr >
          <th>Name</th>
          <th>Team</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat='a in associations'>
          <td>{{a.player}}</td>
          <td>{{a.team}}</td>
          <td> <button ng-click='removeAssociation(a)'>Clear Assignment</button></td>
        </tr>
      </table>
    </div>
  </div>
